# .NET
bin/
obj/
*.user
*.suo
.vs/
*.log
logs/
TestResults/

# EF Core
*.db
*.db-shm
*.db-wal

# Environment
.env
appsettings.Development.json
appsettings.Local.json

# Node / Angular
node_modules/
dist/
.angular/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
